* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 90%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

span{
    color: chocolate;
}

.content-div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}


input{
    padding: 1rem 2.5rem 1rem 0.5rem;
    border-radius: 3px;
    border: none;
}

button{
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 3px;
    font-weight: 700;
    color: white;
    background-color: chocolate;
    border: none;
}

.result{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 200px;
}

.cityName{
    color: chocolate;
}

.footer {
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 1000;
    position: fixed;
    padding: 20px 0;
    background-color: rgb(20, 20, 20);
    box-shadow: 0 -2px 4px rgba(0, 0, 0.1);
}

.copyright {
    text-align: center;
}
